<h4 class="heading">Kerala covid stats</h4>
<div class="parent-div">
    <div class="child-box0">
    <p>Today cases</p>
    <h4 class="numbers">+{{todayCases}}</h4>
    </div>
    <div class="child-box1">
    <p>Today death</p>
    <h4 class="numbers">{{todayDeaths}}</h4>
    </div>
    <div class="child-box2">
    <p>Total cases</p>
    <h4 class="numbers">{{cases}}</h4>
    </div>
    <div class="child-box3">
    <p>Today recovered</p>
    <h4 class="numbers">{{todayRecovered}}</h4>
    </div>

    <div class="child-box4">
    <p>Total death</p>
    <h5>{{deaths}}</h5>
    </div>
    <div class="child-box5">
    <p>Total recovered</p>
    <h5>{{recovered}}</h5>
    </div>
    <div class="child-box6">
    <p>Active</p>
    <h5>{{active}}</h5>
    </div>
</div>

<div class="footer">
  <p>developed by Me</p>
</div>



{{!-- <center>

<p>{{state}}</p>
<p>{{cases}}</p>

</center> --}}